@import url(reset.css);

.column_container {
  width: 80vw;
  margin: auto;
  min-height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: grey;
}

.column {
  width: calc((100% - 40px)/3);
  background-color: lightblue;
}

.image {
  background-image: url(../img/face.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  padding-bottom: 130%;
}
